@import url("@phosphor-icons/web/regular/style.css");
@import "@fontsource-variable/ibm-plex-sans";

@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root,
.light {
	--accent-foreground: var(--color-zinc-800);
	--accent: var(--color-zinc-100);
	--background: var(--color-zinc-50);
	--border: var(--color-zinc-200);
	--card-foreground: var(--color-zinc-950);
	--card: var(--color-zinc-50);
	--destructive-foreground: var(--color-red-50);
	--destructive: var(--color-red-600);
	--warning-foreground: var(--color-amber-50);
	--warning: var(--color-amber-600);
	--success-foreground: var(--color-green-50);
	--success: var(--color-green-600);
	--info-foreground: var(--color-blue-50);
	--info: var(--color-blue-600);
	--foreground: var(--color-zinc-950);
	--muted-foreground: var(--color-zinc-500);
	--muted: var(--color-zinc-100);
	--popover-foreground: var(--color-zinc-950);
	--popover: var(--color-zinc-50);
	--primary-foreground: var(--color-zinc-50);
	--primary: var(--color-zinc-800);
	--ring: var(--color-zinc-800);
	--secondary-foreground: var(--color-zinc-800);
	--secondary: var(--color-zinc-200);
	--sidebar-accent-foreground: var(--color-zinc-800);
	--sidebar-accent: var(--color-zinc-100);
	--sidebar-border: var(--color-zinc-200);
	--sidebar-foreground: var(--color-zinc-950);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-primary: var(--color-zinc-800);
	--sidebar-ring: var(--color-zinc-200);
	--sidebar: var(--color-zinc-50);
}

.dark {
	--accent-foreground: var(--color-zinc-50);
	--accent: var(--color-zinc-800);
	--background: var(--color-zinc-950);
	--border: var(--color-zinc-800);
	--card-foreground: var(--color-zinc-50);
	--card: var(--color-zinc-950);
	--destructive-foreground: var(--color-red-50);
	--destructive: var(--color-red-600);
	--warning-foreground: var(--color-amber-50);
	--warning: var(--color-amber-600);
	--success-foreground: var(--color-green-50);
	--success: var(--color-green-600);
	--info-foreground: var(--color-blue-50);
	--info: var(--color-blue-600);
	--foreground: var(--color-zinc-50);
	--muted-foreground: var(--color-zinc-400);
	--muted: var(--color-zinc-800);
	--popover-foreground: var(--color-zinc-50);
	--popover: var(--color-zinc-925);
	--primary-foreground: var(--color-zinc-800);
	--primary: var(--color-zinc-100);
	--ring: var(--color-zinc-200);
	--secondary-foreground: var(--color-zinc-50);
	--secondary: var(--color-zinc-800);
	--sidebar-accent-foreground: var(--color-zinc-50);
	--sidebar-accent: var(--color-zinc-900);
	--sidebar-border: var(--color-zinc-900);
	--sidebar-foreground: var(--color-zinc-50);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-primary: var(--color-zinc-900);
	--sidebar-ring: var(--color-zinc-900);
	--sidebar: var(--color-zinc-950);
}

@theme inline {
	--radius: 1rem;
	--breakpoint-xs: 32rem;
	--breakpoint-3xl: 112rem;

	--font-mono: "JetBrains Mono", monospace;
	--font-sans: "IBM Plex Sans Variable", sans-serif;

	--color-zinc-925: oklch(17.55% 0 285.854);

	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-background: var(--background);
	--color-border: var(--border);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-warning-foreground: var(--warning-foreground);
	--color-warning: var(--warning);
	--color-success-foreground: var(--success-foreground);
	--color-success: var(--success);
	--color-info-foreground: var(--info-foreground);
	--color-info: var(--info);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-ring: var(--ring);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar: var(--sidebar);
}

@theme inline {
	--animate-accordion-up: accordion-up var(--tw-animation-duration, var(--tw-duration, 0.2s)) var(--tw-ease, ease-out)
		var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1) var(--tw-animation-direction, normal)
		var(--tw-animation-fill-mode, none);

	--animate-accordion-down: accordion-down var(--tw-animation-duration, var(--tw-duration, 0.2s))
		var(--tw-ease, ease-out) var(--tw-animation-delay, 0s) var(--tw-animation-iteration-count, 1)
		var(--tw-animation-direction, normal) var(--tw-animation-fill-mode, none);

	@keyframes accordion-down {
		0% {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height, auto);
		}
	}

	@keyframes accordion-up {
		0% {
			height: var(--radix-accordion-content-height, auto);
		}
		to {
			height: 0;
		}
	}
}

@theme inline {
	--animate-aurora: aurora 60s linear infinite;

	@keyframes aurora {
		from {
			background-position:
				50% 50%,
				50% 50%;
		}
		to {
			background-position:
				350% 50%,
				350% 50%;
		}
	}
}

@utility aspect-page {
	aspect-ratio: 1 / 1.4142;
}

@utility prose-dynamic {
	font-family: var(--page-body-font-family);
	font-size: calc(var(--page-body-font-size) * 1pt);
	font-weight: var(--page-body-font-weight);
	line-height: var(--page-body-line-height);
	color: var(--page-text-color);

	:where(*) {
		color: var(--page-text-color);
	}

	:where(p) {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	:where(p:first-child) {
		margin-top: 0;
	}

	:where(p:last-child) {
		margin-bottom: 0;
	}

	:where([class~="lead"]) {
		margin-top: 1.2em;
		margin-bottom: 1.2em;
		font-size: calc(var(--page-body-font-size) * 1.25pt);
		line-height: 1.6;
	}

	:where(blockquote) {
		padding-inline-start: 1em;
		margin-top: 1.6em;
		margin-bottom: 1.6em;
	}

	:where(h1, h2, h3, h4, h5, h6) {
		margin-top: 0;
		margin-bottom: 0;
		font-family: var(--page-heading-font-family);
		font-weight: var(--page-heading-font-weight);
		line-height: var(--page-heading-line-height);
	}

	:where(h1) {
		font-size: calc(var(--page-heading-font-size) * 1.5pt);
	}

	:where(h2) {
		font-size: calc(var(--page-heading-font-size) * 1.25pt);
	}

	:where(h3) {
		font-size: calc(var(--page-heading-font-size) * 1.125pt);
	}

	:where(h4) {
		font-size: calc(var(--page-heading-font-size) * 1pt);
	}

	:where(h5) {
		font-size: calc(var(--page-heading-font-size) * 0.875pt);
	}

	:where(h6) {
		font-size: calc(var(--page-heading-font-size) * 0.75pt);
	}

	:where(img) {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	:where(picture) {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	:where(picture > img) {
		margin-top: 0;
		margin-bottom: 0;
	}

	:where(video) {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	:where(kbd) {
		padding-inline-start: 0.375em;
		padding-inline-end: 0.375em;
		padding-top: 0.1875em;
		padding-bottom: 0.1875em;
		font-size: 0.875em;
		border-radius: 0.3125rem /* 5px */;
	}

	:where(code) {
		font-size: 0.875em;
	}

	:where(h2 code) {
		font-size: 0.875em;
	}

	:where(h3 code) {
		font-size: 0.9em;
	}

	:where(pre) {
		padding-inline-start: 1.1428571em;
		padding-inline-end: 1.1428571em;
		padding-top: 0.8571429em;
		padding-bottom: 0.8571429em;
		margin-top: 1.7142857em;
		margin-bottom: 1.7142857em;
		font-size: 0.875em;
		line-height: 1.7142857;
		border-radius: 0.375rem /* 6px */;
	}

	:where(ol) {
		padding-inline-start: 1.625em;
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}

	:where(ul) {
		padding-inline-start: 1.625em;
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}

	:where(li) {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	:where(ol > li) {
		padding-inline-start: 0.375em;
	}

	:where(ul > li) {
		padding-inline-start: 0.375em;
	}

	:where(.prose-base > ul > li p) {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}

	:where(.prose-base > ul > li > p:first-child) {
		margin-top: 1.25em;
	}

	:where(.prose-base > ul > li > p:last-child) {
		margin-bottom: 1.25em;
	}

	:where(.prose-base > ol > li > p:first-child) {
		margin-top: 1.25em;
	}

	:where(.prose-base > ol > li > p:last-child) {
		margin-bottom: 1.25em;
	}

	:where(ul ul, ul ol, ol ul, ol ol) {
		margin-top: 0.75em;
		margin-bottom: 0.75em;
	}

	:where(dl) {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
	}

	:where(dt) {
		margin-top: 1.25em;
	}

	:where(dd) {
		padding-inline-start: 1.625em;
		margin-top: 0.5em;
	}

	:where(hr) {
		margin-top: 3em;
		margin-bottom: 3em;
	}

	:where(hr + *) {
		margin-top: 0;
	}

	:where(h2 + *) {
		margin-top: 0;
	}

	:where(h3 + *) {
		margin-top: 0;
	}

	:where(h4 + *) {
		margin-top: 0;
	}

	:where(table) {
		margin-top: 1.25em;
		margin-bottom: 1.25em;
		font-size: calc(var(--page-body-font-size) * 1pt);
		line-height: var(--page-body-line-height);
	}

	:where(tr) {
		border: none;
	}

	:where(th, td) {
		border: 1px solid var(--tw-prose-td-borders);
	}

	:where(table th p, table td p) {
		margin-top: 0;
		margin-bottom: 0;
	}

	:where(tbody th, tbody td, tfoot td) {
		padding-inline-start: 0.5rem;
		padding-inline-end: 0.5rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	:where(figure) {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	:where(figure > *) {
		margin-top: 0;
		margin-bottom: 0;
	}

	:where(figcaption) {
		margin-top: 0.8571429em;
		font-size: 0.875em;
		line-height: 1.4285714;
	}

	:where(.prose-base > :first-child) {
		margin-top: 0;
	}

	:where(.prose-base > :last-child) {
		margin-bottom: 0;
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50 min-w-0;
	}

	body {
		@apply bg-background text-foreground text-sm font-sans proportional-nums antialiased;
	}

	input[type="number"] {
		margin: 0;
		@apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
	}
}

.tiptap-content {
	@apply prose prose-dynamic max-w-none;
	@apply prose-ul:my-0.5 prose-li:my-0.5 [&_li_p]:my-0.5;
}
