@import "@fontsource-variable/ibm-plex-sans";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	--font-sans: "IBM Plex Sans Variable", sans-serif;

	--accent-foreground: oklch(0.205 0 0);
	--accent: oklch(0.97 0 0);
	--background: var(--color-zinc-50);
	--border: oklch(0.922 0 0);
	--card-foreground: var(--color-zinc-950);
	--card: var(--color-zinc-50);
	--destructive: oklch(0.577 0.245 27.325);
	--foreground: var(--color-zinc-950);
	--input: oklch(0.922 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--muted: oklch(0.97 0 0);
	--popover-foreground: var(--color-zinc-950);
	--popover: var(--color-zinc-50);
	--primary-foreground: var(--color-zinc-50);
	--primary: oklch(0.205 0 0);
	--ring: oklch(0.708 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-foreground: var(--color-zinc-950);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-ring: oklch(0.708 0 0);
	--sidebar: var(--color-zinc-50);
}

.dark {
	--accent-foreground: var(--color-zinc-50);
	--accent: oklch(0.269 0 0);
	--background: var(--color-zinc-950);
	--border: oklch(1 0 0 / 10%);
	--card-foreground: var(--color-zinc-50);
	--card: oklch(0.205 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--foreground: var(--color-zinc-50);
	--input: oklch(1 0 0 / 15%);
	--muted-foreground: oklch(0.708 0 0);
	--muted: oklch(0.269 0 0);
	--popover-foreground: var(--color-zinc-50);
	--popover: oklch(0.205 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--primary: oklch(0.922 0 0);
	--ring: oklch(0.556 0 0);
	--secondary-foreground: var(--color-zinc-50);
	--secondary: oklch(0.269 0 0);
	--sidebar-accent-foreground: var(--color-zinc-50);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-foreground: var(--color-zinc-50);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-ring: oklch(0.556 0 0);
	--sidebar: oklch(0.205 0 0);
}

@theme inline {
	--radius: 1rem;
	--breakpoint-xs: 32rem;
	--breakpoint-3xl: 112rem;

	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-background: var(--background);
	--color-border: var(--border);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-foreground: var(--foreground);
	--color-input: var(--input);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-ring: var(--ring);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar: var(--sidebar);
}

@utility aspect-page {
	aspect-ratio: 1 / 1.4142;
}

@layer base {
	* {
		@apply border-border outline-ring/50 min-w-0;
	}

	body {
		@apply bg-background text-foreground text-sm font-sans proportional-nums antialiased;
	}
}
