@import "@fontsource-variable/ibm-plex-sans";

@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

:root,
.light {
	--accent-foreground: var(--color-zinc-800);
	--accent: var(--color-zinc-100);
	--background: var(--color-zinc-50);
	--border: var(--color-zinc-200);
	--card-foreground: var(--color-zinc-950);
	--card: var(--color-zinc-50);
	--destructive-foreground: var(--color-red-50);
	--destructive: var(--color-red-600);
	--warning-foreground: var(--color-amber-50);
	--warning: var(--color-amber-600);
	--success-foreground: var(--color-green-50);
	--success: var(--color-green-600);
	--info-foreground: var(--color-blue-50);
	--info: var(--color-blue-600);
	--foreground: var(--color-zinc-950);
	--muted-foreground: var(--color-zinc-500);
	--muted: var(--color-zinc-100);
	--popover-foreground: var(--color-zinc-950);
	--popover: var(--color-zinc-50);
	--primary-foreground: var(--color-zinc-50);
	--primary: var(--color-zinc-800);
	--ring: var(--color-zinc-800);
	--secondary-foreground: var(--color-zinc-800);
	--secondary: var(--color-zinc-200);
	--sidebar-accent-foreground: var(--color-zinc-800);
	--sidebar-accent: var(--color-zinc-100);
	--sidebar-border: var(--color-zinc-200);
	--sidebar-foreground: var(--color-zinc-950);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-primary: var(--color-zinc-800);
	--sidebar-ring: var(--color-zinc-200);
	--sidebar: var(--color-zinc-50);
}

.dark {
	--accent-foreground: var(--color-zinc-50);
	--accent: var(--color-zinc-800);
	--background: var(--color-zinc-950);
	--border: var(--color-zinc-900);
	--card-foreground: var(--color-zinc-50);
	--card: var(--color-zinc-950);
	--destructive-foreground: var(--color-red-50);
	--destructive: var(--color-red-600);
	--warning-foreground: var(--color-amber-50);
	--warning: var(--color-amber-600);
	--success-foreground: var(--color-green-50);
	--success: var(--color-green-600);
	--info-foreground: var(--color-blue-50);
	--info: var(--color-blue-600);
	--foreground: var(--color-zinc-50);
	--muted-foreground: var(--color-zinc-400);
	--muted: var(--color-zinc-800);
	--popover-foreground: var(--color-zinc-50);
	--popover: var(--color-zinc-925);
	--primary-foreground: var(--color-zinc-800);
	--primary: var(--color-zinc-100);
	--ring: var(--color-zinc-200);
	--secondary-foreground: var(--color-zinc-50);
	--secondary: var(--color-zinc-800);
	--sidebar-accent-foreground: var(--color-zinc-50);
	--sidebar-accent: var(--color-zinc-900);
	--sidebar-border: var(--color-zinc-900);
	--sidebar-foreground: var(--color-zinc-50);
	--sidebar-primary-foreground: var(--color-zinc-50);
	--sidebar-primary: var(--color-zinc-900);
	--sidebar-ring: var(--color-zinc-900);
	--sidebar: var(--color-zinc-950);
}

@theme inline {
	--radius: 1rem;
	--breakpoint-xs: 32rem;
	--breakpoint-3xl: 112rem;
	--font-sans: "IBM Plex Sans Variable", sans-serif;

	--color-zinc-925: oklch(17.55% 0 285.854);

	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-background: var(--background);
	--color-border: var(--border);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-destructive: var(--destructive);
	--color-warning-foreground: var(--warning-foreground);
	--color-warning: var(--warning);
	--color-success-foreground: var(--success-foreground);
	--color-success: var(--success);
	--color-info-foreground: var(--info-foreground);
	--color-info: var(--info);
	--color-foreground: var(--foreground);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-ring: var(--ring);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar: var(--sidebar);
}

@utility aspect-page {
	aspect-ratio: 1 / 1.4142;
}

@layer base {
	* {
		@apply border-border outline-ring/50 min-w-0;
	}

	body {
		@apply bg-background text-foreground text-sm font-sans proportional-nums antialiased;
	}
}

.tiptap-content {
	@apply prose prose-sm prose-zinc max-w-none;
}

.tiptap-content,
.tiptap-content * {
	margin: 0;
	margin-bottom: 0.75rem;

	color: inherit;
	font-size: inherit;
	line-height: inherit;
}
